<%- include("./partials/home") %>
<%- include("./partials/navbar") %>

<body>
  <br><br>
  <h3>About This App</h3>
  <h3 class="raleway">HI</h3>
  <h3 class="raleway">Welcome to!</h3>
  <h1 class="montserrat">Touraccas.</h1>
  <h3 class="raleway">Find your paradise with us!</h3>
  <br><br>
  
</body>

<footer>
  <%- include("./partials/foots") %>
</footer>

</html>