<%- include('./partials/header') %>
<h2>Add Tour</h2>

<form action="/tours/add" method="POST">
  <% if (errValidate) {%>
    <p class="errMessage"><%= errValidate %></p>
  <% } %>
  <label for="name">Name</label><br>
  <input type="text" name="name"><br>
  <label for="destination">Destination</label><br>
  <input type="text" name="destination"><br>

  <div id="googleMap" style="width:30%;height:380px;"></div>

  <label for="latitude">Latitude</label><br>
  <input type="number" id="lat" step="any" name="latitude"><br>
  <label for="longitude">Longitude</label><br>
  <input type="number" id="lng" step="any" name="longitude"><br><br>
  <button type="submit">add Tour</button>
  <button type="button" onclick="javascript:window.location='/tours'">cancel</button>
</form>

<%- include('./partials/footer') %>